.download-container {
    padding: 20px;
    text-align: center;
}

.download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.download-btn:hover {
    background-color: #0056b3;
}
