.feedback-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin: 0 auto;
  
}

 .submit-feedback  {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    outline: none;

    

}
.like-button {
    width: 7%;
    margin: 10px; /* This is shorthand for top, right, bottom, and left */
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px; /* More rounded */
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.2s; /* smooth transition */
}

.like-button:hover {
    background-color: #0056b3;  /* Slightly darker blue on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}

.like-button:focus {
    outline: 2px solid #0056b3; /* Outline for accessibility when button is in focus */
}

.feedbbackInput{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    resize: none;
    outline: none;
    transition: border-color 0.3s ease;
}


.like-button:hover, .submit-feedback:hover {
    background-color: #0056b3;
}

.submit-feedback {
    position: absolute;  /* Change the position to absolute */
    bottom: 10px;        /* Position from the bottom */
    right: 10px;         /* Position from the right */
    /* ... rest of the styles remain unchanged ... */
}